@import "@/styles/variables.scss";

.projects {
    @include section;

    .heading {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 2rem;

        .headingWrapper {
            @include mT2;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            gap: 2rem;

            h1 {
                @include font-4_5;
                max-width: 50rem;
                width: 100%;
            }
        }
    }

    .wrapper {
        @include mT4;
        display: flex;
        flex-direction: column;
        align-items: center;

        .projectCard {
            position: sticky;
            top: 10vh;
            width: 65vw;
            height: calc(60vh);
            border-radius: 15px;
            overflow: hidden;
            background: #121212;
            border: 1px solid $borderColor;

            @media (max-width: 840px) {
                width: 100%;
            }

            // text-only

            .projectDetails {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                @include paddingArround;

                .title {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    width: 100%;
                    overflow: hidden;

                    h3 {
                        @include font-1_8;
                        color: $primary;
                    }
                }

                .badges {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    display: flex;
                    gap: 0.5rem;
                    flex-wrap: wrap;

                    .badge {
                        @include font0_7;
                        width: fit-content;
                        padding: 0.6rem 0.9rem;
                        background: rgba(244, 78, 0, 0.18);
                        border: 1px solid rgba(244, 78, 0, 0.35);
                        border-radius: 999px;
                    }
                }

                @media (max-width: 600px) {
                    flex-direction: column;
                    gap: 1.5rem;
                    padding: 2rem 1rem;

                    .category {
                        flex-direction: column;
                        gap: 0.5rem;
                    }
                }
            }

            &:hover {}
        }
    }
}
